@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Montserrat:wght@500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  border: none;
}

nav {
  padding: 5px 50px;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  color: rgba(70, 116, 234, 0.71);
}

.wrapper {
  padding: 0 15%;
}

main {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
main .title {
  font-size: 40px;
  width: 33%;
}
main .title h2 {
  word-wrap: break-word;
  width: 100%;
}
main .title .line {
  display: inline-block;
  height: 1px;
  width: 100%;
  background-color: black;
}
main .cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .cards .card {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-basis: 40%;
}
main .cards .card .card__card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  font-size: 25px;
}
main .cards .card .card__card-header h3 {
  font-family: "Merriweather Sans", sans-serif;
}
main .cards .card .card__card-description {
  font-size: 20px;
  letter-spacing: 2px;
}